<div class="container_comment">
    <div class="comment">
        <div class="comment_elem">
            <p class="coment_number">1</p>
            <p class="comment_on">ON</p>
            <p>0:10:30</p>
        </div>
        <button type="button" class="menu-mob__btn">
            <img class="comment_but" src="./images/icons/ok_green.png" alt="кнопка відкриття меню">
        </button>
    </div>
    <div class="wrapper">
        <textarea spellcheck="false" placeholder="Type something here..." required></textarea>
    </div>
</div>



<div>qqq</div>