<div class="container_comment">
   
    <div class="comment">
        
        <div class="comment_elem">
            <p>1</p>
            <p>on</p>
            <p>10:30</p>
        </div>
        <div>
            <button type="button" class="menu-mob__btn menu-mob__btn--open button">
                <svg width="20" height="20" aria-label="завершити">
                    <use href="./images/icons.svg#icon-open-menu"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="container_comment comment_text">
        <input type="text" name="" id="" class="">
        <textarea name="" id="" class="" placeholder="Введіть текст"></textarea>
    </div>

</div>
