<!-- <div style="padding:41.88% 0 0 0;position:relative;">
    <iframe
    class="player_vimeo_1"
        src="https://player.vimeo.com/video/785600850?h=914045bb4d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0" 
        allow="autoplay; fullscreen; picture-in-picture" 
        allowfullscreen
        title="ДАР ВНУТРІШНЬОГО НАВЧАННЯ">
    </iframe>
</div> -->

<div style="padding:56.25% 0 0 0;position:relative;">
    <iframe class="player_vimeo_1"
        src="https://player.vimeo.com/video/785600850?h=914045bb4d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
        style="position:absolute;top:0;left:0;width:100%;height:100%;" title="ДАР ВНУТРІШНЬОГО НАВЧАННЯ">
    </iframe>
</div>


<script src="https://player.vimeo.com/api/player.js"></script>